<!DOCTYPE html>
<html>
	<head>
	<%= require('html-loader!./layout/head-common.html') %>
	<title></title>
	</head>
  <body>
  	<%= require('html-loader!./layout/top.html')  %>
    <%= require('html-loader!./layout/header.html')  %>
    <div class="ar_content">
    	<div class="ar_main">
    		<div class="main_title">
    			<div class="ar_txt">练功经验</div>
    			<div class="ar_txt">你问我答</div>
    			<div class="ar_txt">服务器讨论</div>
    		</div>
    		<div class="main_con">
    			<ul class="con_ul clearfix">
    				<li class="con_li clearfix">
    					<div class="con_left">
    						<div class="l_time">2019<br/>03/25</div>
    						<a class="l_title">[情报]卖货物1S来信</a>
    						<div class="l_news"><i class="fa fa-comment"></i>0</div>
    					</div>
    					<div class="con_right">
    						<span class="r_name">南诺</span>
    						<span class="r_server">1.亚纳[一般]</span>
    						<span class="r_view">59 点击</span>
    					</div>
    				</li>
    				<li class="con_li clearfix">
    					<div class="con_left">
    						<div class="l_time">2019<br/>03/25</div>
    						<a class="l_title">[情报]卖货物1S来信</a>
    						<div class="l_news"><i class="fa fa-comment"></i>0</div>
    					</div>
    					<div class="con_right">
    						<span class="r_name">南诺</span>
    						<span class="r_server">1.亚纳[一般]</span>
    						<span class="r_view">59 点击</span>
    					</div>
    				</li>
    			</ul>
    		</div>
    		<div class="con_bottom">
    			<div class="b_page">
    				<ul class="page_list">
    					<li><i class="fa fa-chevron-circle-left"></i></li>
    					<li><a>1</a></li>
    					<li><a>2</a></li>
    					<li><a>3</a></li>
    					<li><a>4</a></li>
    					<li><a>5</a></li>
    					<li><i class="fa fa-chevron-circle-right"></i></li>
    				</ul>
    			</div>
    		</div>
    	</div>
    </div>
     <%= require('html-loader!./layout/footer.html') %>
  </body>
</html>
