<!DOCTYPE html>
<html lang="en">
	<head>
	<%= require('html-loader!./layout/head-common.html') %>
	<title></title>
	</head>
  <body>  
     <%= require('html-loader!./layout/top.html')  %>
     <%= require('html-loader!./layout/header.html')  %>
<div class="contents">
    <%= require('html-loader!./layout/carousel.html') %>
    <%= require('html-loader!./layout/article-content.html') %>
    <!-- <div class="fs">
        <div class="switch">
            <div class="switch_an">
                <a href="" class="switch_left"><font>现场</font></a>
                <a href="" class="switch_right"><font>经典</font></a>
            </div>
        </div>
        <div class="side">
            <div class="side_nav">
                <ul>
                    <li data-id="1"><a>用户管理</a><i>></i></li>
                    <li data-id="2"><a>最新活动</a><i>></i></li>
                    <li data-id="3"><a>解决方案</a><i>></i></li>
                    <li data-id="4"><a>用户管理</a><i>></i></li>
                    <li data-id="5"><a>用户管理</a><i>></i></li>
                    <li data-id="6"><a>用户管理</a><i>></i></li>
                    <li data-id="7"><a>用户管理</a><i>></i></li>
                </ul>
            </div>
            <div class="two_menu">
                <div class="menu_con none">
                    <div id="1" class="menu_mian clearfix none">
                        <div class="menu_con_list">
                            <div class="list_top">
                                <span>用户管理</span>
                            </div>
                            <ul>
                                <li><a>用户管理</a></li>
                                <li><a>用户管理</a></li>
                                <li><a>用户管理</a></li>
                            </ul>
                        </div>
                        <div class="menu_con_list">
                            <div class="list_top">
                                <span>用户管理</span>   
                            </div>
                            <ul>
                                <li><a>用户管理</a></li>
                                <li><a>用户管理</a></li>
                                <li><a>用户管理</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="2" class="menu_mian clearfix none">
                        <div class="menu_con_list">
                            <div class="list_top">
                                <span>最新活动</span>
                            </div>
                            <ul>
                                <li><a>最新活动</a></li>
                                <li><a>最新活动</a></li>
                                <li><a>最新活动</a></li>
                            </ul>
                        </div>
                        <div class="menu_con_list">
                            <div class="list_top">
                                <span>最新活动</span>
                            </div>
                            <ul>
                                <li><a>最新活动</a></li>
                                <li><a>最新活动</a></li>
                                <li><a>最新活动</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="3" class="menu_mian clearfix none">
                        <div class="menu_con_list">
                            <div class="list_top">
                                <span>解决方案</span>
                            </div>
                            <ul>
                                <li><a>解决方案</a></li>
                                <li><a>解决方案</a></li>
                                <li><a>解决方案</a></li>
                            </ul>
                        </div>
                        <div class="menu_con_list">
                            <div class="list_top">
                                <span>解决方案</span>
                            </div>
                            <ul>
                                <li><a>解决方案</a></li>
                                <li><a>解决方案</a></li>
                                <li><a>解决方案</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href=""><img src="../../src/image/lb1.jpg"></a></div>
                <div class="swiper-slide"><a href=""><img src="../../src/image/lb2.jpg"></a></div>
                <div class="swiper-slide"><a href=""><img src="../../src/image/lb3.jpg"></a></div>
                <div class="swiper-slide"><a href=""><img src="../../src/image/lb4.jpg"></a></div>
                <div class="swiper-slide"><a href=""><img src="../../src/image/lb5.jpg"></a></div>
                <div class="swiper-slide"><a href=""><img src="../../src/image/lb6.jpg"></a></div>
            </div>
            
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url('../../src/image/001.jpg')"></div>
                <div class="swiper-slide" style="background: url('../../src/image/lb2.jpg')"></div>
                <div class="swiper-slide" style="background: url('../../src/image/lb3.jpg')"></div>
                <div class="swiper-slide" style="background: url('../../src/image/lb4.jpg')"></div>
                <div class="swiper-slide" style="background: url('../../src/image/lb5.jpg')"></div>
                <div class="swiper-slide" style="background: url('../../src/image/lb6.jpg')"></div>
            </div>
        </div>
    </div> -->
    <!-- <div class="article_content clearfix">
        <div class="article_con clearfix">
            <div class="article_box">
                <div class="article_box_upper">
                    <div class="upper_name clearfix">
                        <h3>最新信息</h3>
                        <a href=""><i></i></a>
                    </div>
                    <ul>
                        <li><a href=""><font>升级！可疑的安全</font></a></li>
                        <li><a href=""><font>BYE 2018，HI 2019活动信息</font></a></li>
                        <li><a href=""><font>新的一年！金猪一直是花蜜！活动</font></a></li>
                        <li><a href=""><font>扩展神奇电脑客房的推广</font></a></li>
                        <li><a href=""><font>[直播] 1/30（周三）更新信息 </font></a></li>
                        <li><a href=""><font>[血腥] 1/30（周三）更新信息</font></a></li>
                    </ul>
                </div>
                <div class="article_box_lower"></div>
            </div>
            <div class="article_box">
               <a class="img_box" href="">
                   <h3>
                       <div class="img_box_x"><font>物品</font></div>
                       <div class="img_box_d"><font>解锁密封</font></div>
                   </h3>
                   <div class="img_bj"><img src="../../src/image/bg_z.jpg"></div>
               </a>
            </div>
            <div class="article_box">
                <a class="img_box" href="">
                   <h3>
                       <div class="img_box_x"><font>Lineage2历史</font></div>
                       <div class="img_box_d"><font>更新年表</font></div>
                   </h3>
                   <div class="img_bj"><img src="../../src/image/bg_y.jpg"></div>
               </a>
            </div>
            <div class="article_box">
                <div class="gamestart">
                    <div class="gamestart_s">
                        <a href=""></a>
                    </div>
                    <div class="gamestart_x">
                        <a href=""><font>发射台</font></a>
                        <a href=""><font>客户</font></a>
                        <a href=""><font>NC托克</font></a>
                    </div>
                </div>
                <div class=""></div>
            </div>
        </div>
    </div> -->
    <div class="article_banner">
        <div class="banner_min">
            <a href=""><img src="../../src/image/l2x.jpg"></a>
        </div>
        <div class="banner_max" hidden="true"></div>
    </div>
    <div class="community clearfix">
        <div class="com_content clearfix">
            <div class="com_wz"><h2>社区故事</h2></div>
            <ul class="com_nr">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
    <%= require('html-loader!./layout/footer.html') %>
  </body>
</html>
