<!DOCTYPE html>
<html lang="en">
	<head>
	<%= require('html-loader!./layout/head-common.html') %>
	<title></title>
	</head>
  <body>  
     <%= require('html-loader!./layout/top.html')  %>
     <%= require('html-loader!./layout/header.html')  %>
<div class="contents">
    <%= require('html-loader!./layout/carousel.html') %>
    <%= require('html-loader!./layout/article-content.html') %>
    <div class="article_banner">
        <div class="banner_min">
            <a><img src="../../src/image/l2x.jpg"></a>
        </div>
        <div class="banner_max" hidden="true"></div>
    </div>
    <div class="community clearfix">
        <div class="com_content clearfix">
            <div class="com_wz"><h2>社区故事</h2></div>
            <ul class="com_nr clearfix">
                <li class="nr_li">
                    <a>
                        <img src="../../src/image/l_1.jpg">
                        <div class="nr_title"><span>随着神职人员，照片剪切！</span></div>
                    </a>
                </li>
                <li class="nr_li">
                    <a>
                        <img src="../../src/image/l_2.jpg">
                        <div class="nr_title"><span>随着神职人员，照片剪切！</span></div>
                    </a>
                </li>
                <li class="nr_s">
                    <div class="wrap">
                        <a>
                            <img src="../../src/image/y1.jpg">
                            <font>[PowerBook]勇士</font>
                        </a>
                    </div>
                    <div class="wrap">
                        <a>
                            <img src="../../src/image/y2.jpg">
                            <font>[PowerBook]勇士</font>
                        </a>
                    </div>
                    <div class="wrap">
                        <a>
                            <img src="../../src/image/y3.jpg">
                            <font>[PowerBook]勇士</font>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
    <%= require('html-loader!./layout/footer.html') %>
  </body>
</html>
