<div class="article_content clearfix">
        <div class="article_con clearfix">
            <div class="article_box_one">
                <div class="article_box_upper">
                    <div class="upper_name clearfix">
                        <h3>最新信息</h3>
                        <a href=""><i class="fa fa-plus"></i></a>
                    </div>
                    <ul>
                        <li><a href=""><font>升级！可疑的安全</font></a></li>
                        <li><a href=""><font>BYE 2018，HI 2019活动信息</font></a></li>
                        <li><a href=""><font>新的一年！金猪一直是花蜜！活动</font></a></li>
                        <li><a href=""><font>扩展神奇电脑客房的推广</font></a></li>
                        <li><a href=""><font>[直播] 1/30（周三）更新信息 </font></a></li>
                        <li><a href=""><font>[血腥] 1/30（周三）更新信息</font></a></li>
                    </ul>
                </div>
                <div class="article_box_lower">
                  <div class="lower_div">
                    <ol class="lower_ol">
                      <li class="lower_li"><i>1</i><a>测试1</a></li>
                      <li class="lower_li"><i>2</i><a>测试2</a></li>
                      <li class="lower_li"><i>3</i><a>测试3</a></li>
                      <li class="lower_li"><i>4</i><a>测试4</a></li>
                      <li class="lower_li"><i>5</i><a>测试5</a></li>
                      <li class="lower_li"><i>6</i><a>测试6</a></li>
                      <li class="lower_li"><i>7</i><a>测试7</a></li>
                      <li class="lower_li"><i>8</i><a>测试8</a></li>
                      <li class="lower_li"><i>9</i><a>测试9</a></li>
                      <li class="lower_li"><i>10</i><a>测试10</a></li>
                    </ol>
                  </div>
                  <div class="lower_hide arhide">
                    <h3>热门文章</h3>
                    <ol class="lower_oll">
                      <li class="lower_li"><i>1</i><a>测试</a></li>
                      <li class="lower_li"><i>2</i><a>测试</a></li>
                      <li class="lower_li"><i>3</i><a>测试</a></li>
                      <li class="lower_li"><i>4</i><a>测试</a></li>
                      <li class="lower_li"><i>5</i><a>测试</a></li>
                      <li class="lower_li"><i>6</i><a>测试</a></li>
                      <li class="lower_li"><i>7</i><a>测试</a></li>
                      <li class="lower_li"><i>8</i><a>测试</a></li>
                      <li class="lower_li"><i>9</i><a>测试</a></li>
                      <li class="lower_li"><i>10</i><a>测试</a></li>
                    </ol>
                  </div>
                </div>
            </div>
            <div class="article_box" data-clickColor="rgba(245, 209, 209, 0.5)">
               <div class="box_div"></div>
               <a class="img_box clearfix" href="">
                   <h3>
                       <div class="img_box_x"><font>物品</font></div>
                       <div class="img_box_d"><font>解锁密封</font></div>
                   </h3>
                   <div class="img_bj"><img src="../../../src/image/bg_z.jpg"></div>
               </a>
            </div>
            <div class="article_box" data-clickColor="rgba(245, 209, 209, 0.5)">
              <div class="box_div"></div>
                <a class="img_box clearfix" href="">
                   <h3>
                       <div class="img_box_x"><font>Lineage2历史</font></div>
                       <div class="img_box_d"><font>更新年表</font></div>
                   </h3>
                   <div class="img_bj"><img src="../../../src/image/bg_y.jpg"></div>
               </a>
            </div>
            <div class="article_box_g">
                <div class="gamestart">
                    <div class="gamestart_s">
                        <a href=""></a>
                    </div>
                    <div class="gamestart_x">
                        <a href=""><font>发射台</font></a>
                        <a href=""><font>客户</font></a>
                        <a href=""><font>NC托克</font></a>
                    </div>
                </div>
                <div class="sign_in">
                  <div class="sign_login">
                    <div class="login_txt">请点击登录</div>
                    <div class="login_dj">
                      <div class="dj_z">
                        <span class="dj_left"></span>
                        <span class="dj_right">登录</span>
                      </div>
                    </div>
                  </div>
                  <div class="sign_bm">
                    <ul class="clearfix">
                      <li><a>注册</a></li>
                      <li><a>查找账户</a><font> / </font><a>密码</a></li>
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>