<div class="article_content clearfix">
        <div class="article_con clearfix">
            <div class="article_box">
                <div class="article_box_upper">
                    <div class="upper_name clearfix">
                        <h3>最新信息</h3>
                        <a href=""><i></i></a>
                    </div>
                    <ul>
                        <li><a href=""><font>升级！可疑的安全</font></a></li>
                        <li><a href=""><font>BYE 2018，HI 2019活动信息</font></a></li>
                        <li><a href=""><font>新的一年！金猪一直是花蜜！活动</font></a></li>
                        <li><a href=""><font>扩展神奇电脑客房的推广</font></a></li>
                        <li><a href=""><font>[直播] 1/30（周三）更新信息 </font></a></li>
                        <li><a href=""><font>[血腥] 1/30（周三）更新信息</font></a></li>
                    </ul>
                </div>
                <div class="article_box_lower"></div>
            </div>
            <div class="article_box">
               <a class="img_box" href="">
                   <h3>
                       <div class="img_box_x"><font>物品</font></div>
                       <div class="img_box_d"><font>解锁密封</font></div>
                   </h3>
                   <div class="img_bj"><img src="../../../src/image/bg_z.jpg"></div>
               </a>
            </div>
            <div class="article_box">
                <a class="img_box" href="">
                   <h3>
                       <div class="img_box_x"><font>Lineage2历史</font></div>
                       <div class="img_box_d"><font>更新年表</font></div>
                   </h3>
                   <div class="img_bj"><img src="../../../src/image/bg_y.jpg"></div>
               </a>
            </div>
            <div class="article_box">
                <div class="gamestart">
                    <div class="gamestart_s">
                        <a href=""></a>
                    </div>
                    <div class="gamestart_x">
                        <a href=""><font>发射台</font></a>
                        <a href=""><font>客户</font></a>
                        <a href=""><font>NC托克</font></a>
                    </div>
                </div>
                <div class=""></div>
            </div>
        </div>
    </div>