<div class="fs">
       
        <div class="side">
            <div class="switch">
                <div class="switch_an">
                    <a class="switch_left switchcolor"><font>现场</font></a>
                    <a class="switch_right"><font>经典</font></a>
                </div>
            </div>
            <div class="side_nav"></div>
            <div class="two_menu">
                <div class="menu_con none"></div>
            </div>
        </div>
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href=""><img src="../../../src/image/lb1.jpg"></a></div>
                <div class="swiper-slide"><a href=""><img src="../../../src/image/lb2.jpg"></a></div>
                <div class="swiper-slide"><a href=""><img src="../../../src/image/lb3.jpg"></a></div>
                <div class="swiper-slide"><a href=""><img src="../../../src/image/lb4.jpg"></a></div>
                <div class="swiper-slide"><a href=""><img src="../../../src/image/lb5.jpg"></a></div>
                <div class="swiper-slide"><a href=""><img src="../../../src/image/lb6.jpg"></a></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
        <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url('../../../src/image/001.jpg')"></div>
                <div class="swiper-slide" style="background: url('../../../src/image/lb2.jpg')"></div>
                <div class="swiper-slide" style="background: url('../../../src/image/lb3.jpg')"></div>
                <div class="swiper-slide" style="background: url('../../../src/image/lb4.jpg')"></div>
                <div class="swiper-slide" style="background: url('../../../src/image/lb5.jpg')"></div>
                <div class="swiper-slide" style="background: url('../../../src/image/lb6.jpg')"></div>
            </div>
        </div>
    </div>