<div class="header">
    <div class="header_content">
        <div class="header_logo"><a href=""></a></div>
        <div class="header_ul">
          	<ul>
          		<li><a href="">信息</a></li>
          		<li><a href="">信息新</a></li>
          		<li><a href="">信息</a></li>
          		<li><a href="">信息新</a></li>
          		<li><a href="">信息</a></li>
          		<li><a href="">信息新</a></li>
          		<li><a href="">信息新新</a></li>
          	</ul>
        </div>
        <div class="header_right">
        	<input type="text">
        	<input type="button" title="搜索">
        </div>
    </div>
</div>