<div class="top">
    <div class="top_w">
        <div class="top_left">
            <div class="top_left_logo"><a href="www.baidu.com"></a></div>
            <div class="top_left_name"><a href="#">张伟尉</a></div>
            <div class="top_left_category"><a href="#"></a></div>
        </div>
        <div class="top_right">
            <div class="top_right_contact">
                <a class="right_contact_left" href="#">联系</a>
                <a class="right_contact_right" href="#">我们</a>
            </div>
            <div class="top_right_registered">
               <a href="#">注册</a>
            </div>
        </div>
    </div>
</div>